<div>
  <div class="entry"
       [ngClass]="{
         'with-child': leaf.hasChild(),
         'no-child': !leaf.hasChild(),
         'selected': leaf == selected}">
    <i class="octicon octicon-triangle-right rotatable"
       (click)="onToggleMenu(leaf)"
       [ngClass]="{rotated: leaf.expanded}"
       *ngIf="leaf.hasChild()"></i>
    <span (click)="onSelectMenu(leaf)">{{ leaf.name }}</span>
  </div>

  <div *ngIf="leaf.expanded && leaf.hasChild()">
    <lh-translations-tree [leaf]="iteratee"
                          [selected]="selected"
                          *ngFor="let iteratee of leaf.getChildren()"
                          (select)="onSelectMenu($event)"></lh-translations-tree>
  </div>
</div>