.octicon {
  line-height: inherit;
}

.app-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  color: #FFFFFF;
  background-color: #03A9F4;
}

.app-container .loading {
  font-size: 30px;
}

.app-container .progress {
  width: 30%;
  border-bottom: 1px solid #AFB1B3;
}

.row.full-width {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  max-width: initial;
}