<div class="row">
  <div class="column">
    <h1 md-dialog-title="">New project</h1>
  </div>
</div>

<!-- Repository list -->
<div class="row">
  <div class="large-6 column">
    <md-menu #menu="mdMenu">
      <button md-menu-item *ngFor="let repository of repositoryList" (click)="onClickRepo(repository)">
        {{ repository.name }}
      </button>
    </md-menu>

    <button md-raised-button [mdMenuTriggerFor]="menu">
      Select repository:
      <span *ngIf="!selectedRepo">Github User: {{ githubUsername }}</span>
      <span *ngIf="selectedRepo">{{ selectedRepo.name }}</span>
      <i class="material-icons expand_more">expand_more</i>
    </button>
  </div>
  
  <div class="large-6 column hide-for-small-only hide-for-medium-only" *ngIf="selectedRepo">
    <div class="row">
      <div class="column medium-5"><strong>Description:</strong></div>
      <div class="column medium-7">{{ selectedRepo.description }}</div>
    </div>
    <div class="row">
      <div class="column medium-5"><strong>Open in github:</strong></div>
      <div class="column medium-7"><a href="{{ selectedRepo.url }}" target="_blank">Click here</a></div>
    </div>
  </div>
</div>

<!-- Languages -->
<div class="row">
  <div class="column">
    Setup supported languages
  </div>
</div>

<div class="row">
  <div class="column large-6">
    <!-- Select language -->
    <div class="row">
      <div class="column small-3">
        Language:
      </div>

      <div class="column small-9">
        <select>
          <option *ngFor="let country of languages" [value]="country.languageCode">
            {{ country.languageCode }} - {{ country.languageName }}
          </option>
        </select>
      </div>
    </div>

    <!-- Translation file path -->
    <div class="row">
      <div class="column small-3">
        I18n file:
      </div>

      <div class="column small-9">
        <input type="text" placeholder="(ex: config/locales/fr.yml)">
      </div>
    </div>

    <!-- Button -->
    <div class="row">
      <div class="column">
        <button md-raised-button color="primary" style="width: 100%" (click)="onClickAddLanguage()">Add language</button>
      </div>
    </div>
  </div>

  <div class="column large-6 hide-for-medium-only hide-for-small-only">

  </div>
</div>

<div class="row">
  <div class="column">
    <md-dialog-actions>
      <button md-raised-button color="primary" (click)="newProjectDialog.close('yes')" disabled="{{ isSaveDisabled() }}">Create</button>
      <button md-raised-button md-dialog-close>Cancel</button>
    </md-dialog-actions>
  </div>
</div>