@import 'styles/app.scss';

fieldset {
  border: 1px solid $border-color;
  border-radius: $global-radius;
  padding-bottom: $global-spacing;
  min-height: 170px;
}

legend {
  margin: $global-spacing;
}

i.material-icons {
  &.info, &.add_circle_outline, &.swap_vertical_circle {
    @include offset(6px);
  }
}

select, input {
  margin-bottom: 0;
}

img.avatar {
  @include square(30px);
  border-radius: 50%;
}

.margin-top-small-only {
  @include breakpoint(medium down) {
    margin-top: 30px;
  }
}

.close-container {
  text-align: center;
  transition: background-color 200ms ease-in-out, color 200ms ease;

  i:hover {
    cursor: pointer;
    background-color: map_get($foundation-palette, secondary);
    border-radius: 50%;
    padding: 5px;
    color: $white;
  }
}