@import 'styles/app.scss';

fieldset {
  border: 1px solid $border-color;
  border-radius: $global-radius;
  padding-bottom: $global-spacing;
  min-height: 170px;
}

legend {
  margin: $global-spacing;
}

i.material-icons {
  &.add_circle_outline, &.swap_vertical_circle, &.lock, &.lock_open, &.link {
    @include offset(6px);
  }
}

.mat-select {
  width: 100%;
}

.mat-input-container {
  /deep/ .mat-input-wrapper {
    padding-top: 6px !important;   // workaround: align dividers with selectbox on the right
  }

  /deep/ .mat-input-placeholder-wrapper {
    overflow: visible;            // workaround: display placeholder text

    .mat-input-placeholder {
      padding-top: 12px;          // workaround: align dividers with selectbox on the right
      padding-bottom: 14px;       // workaround: align dividers with selectbox on the right

      &:not(.mat-focused){
        font-size: 16px !important;
        padding-top: 16px;        // workaround: align dividers with selectbox on the right
      }
    }
  }
}

img.avatar {
  @include square(30px);
  border-radius: 50%;
}

.margin-top-small-only {
  @include breakpoint(medium down) {
    margin-top: 15px;
  }
}

.close-container {
  text-align: center;
  transition: background-color 200ms ease-in-out, color 200ms ease;

  i:hover {
    cursor: pointer;
    background-color: map_get($foundation-palette, secondary);
    border-radius: 50%;
    padding: 5px;
    color: $white;
  }
}

.language-form {
  @include breakpoint(large up) {
    margin-top: -20px;
  }

  @include breakpoint(medium down) {
    margin-top: -8px;
    border-top: 1px solid $border-color;
  }
}