@import 'styles/app.scss';

.row.main-full-height {
  height: calc(100% - 50px);
}

.height-50 {
  height: 50px;
}

i.check_circle {
  @include offset(6px);
}

.locales-list {
  display: block;
  position: relative;  // allow custom placement of fab for adding a new locale
}