@import 'styles/app.scss';

:host {
  display: flex;
  flex-direction: column;
  height: calc(100vh - 50px);
}

main {
  display: flex;
  flex: 1;
}

.height-50 {
  height: 50px;
}

i.check_circle {
  @include offset(6px);
}

.locales-list {
  display: block;
  position: relative;  // allow custom placement of fab for adding a new locale
}