<!-- Title and menu -->
<div class="card-title">
  {{ project.name | truncate : 18 }}

  <button md-icon-button [mdMenuTriggerFor]="menu" class="menu-button">
    <md-icon>more_vert</md-icon>
  </button>

  <md-menu #menu="mdMenu">
    <button md-menu-item (click)="refreshBranchList()">Refresh branch list</button>
    <button md-menu-item (click)="deleteProject()" class="confirm">Delete project</button>
  </md-menu>
</div>

<!-- Branch selector -->
<div class="branch-switcher">
  <i class="octicon octicon-git-branch"></i>&nbsp;Branch:
  <select *ngIf="!isRefrechingBranches">
    <option *ngFor="let branch of project.availableBranches"
            [attr.value]="branch"
            [attr.selected]="branch == project.lastActiveBranch ? true : null">
      {{ branch }}
    </option>
  </select>
  <small *ngIf="isRefrechingBranches">
    <lh-loader [message]="'Refreshing...'"></lh-loader>
  </small>
</div>
<div class="owner">
  <img [attr.src]="project.repository.owner.avatar_url" class="avatar">
</div>

<!-- Main content -->
<div class="card-content" *ngIf="!isLoading">
  <lh-language-details *ngFor="let file of project.i18nFiles"
                       [languages]="project.i18nFiles"
                       [file]="file"></lh-language-details>
</div>

<div class="card-content row align-middle" *ngIf="isLoading">
  <div class="column">
    <lh-loader [message]="loadingMessage"></lh-loader>
  </div>
</div>

<!-- Open button -->
<button (click)="onOpen(project)" class="cursor-pointer open-button">
  Open
</button>