<div class="card-title">
  {{ project.name | truncate : 18 }}
</div>
<div class="branch-switcher">
  <i class="octicon octicon-git-branch"></i>&nbsp;Branch:
  <select>
    <option *ngFor="let branch of project.availableBranches"
            [attr.value]="branch"
            [attr.selected]="branch == project.lastActiveBranch ? true : null">
      {{ branch }}
    </option>
  </select>
</div>
<div class="number-of-strings">
  <span class="badge">{{ maximumNumberOfTranslation(project) }}</span>
</div>
<div class="card-content">
  <lh-language-details *ngFor="let file of project.i18nFiles"
                       [languages]="project.i18nFiles"
                       [file]="file"></lh-language-details>
</div>
<button (click)="onOpen(project)" class="cursor-pointer">
  Open
</button>