<div class="card-title">
  {{ project.name | truncate : 18 }}
</div>
<div class="branch-switcher">
  <i class="octicon octicon-git-branch"></i>&nbsp;Branch:
  <select>
    <option *ngFor="let branch of project.availableBranches"
            [attr.value]="branch"
            [attr.selected]="branch == project.lastActiveBranch ? true : null">
      {{ branch }}
    </option>
  </select>
</div>
<div class="number-of-strings">
  <span class="badge">{{ maximumNumberOfTranslation(project) }}</span>
</div>
<div class="card-content">
  <div class="row padding-vertical-half language-row"
       *ngFor="let file of project.i18nFiles"
       mdTooltip="{{ file.languageCode }} - {{ languageOf(file.languageCode).languageName }}"
       mdTooltipPosition="right">
    <div class="column small-3">
      <span class="flag-icon flag-icon-{{ languageOf(file.languageCode).flagClass }}"></span>
    </div>

    <div class="column small-6 color-secondary">
      <i class="material-icons report_problem color-warning"
         *ngIf="file.count < maximumNumberOfTranslation(project)"
         mdTooltip="{{ maximumNumberOfTranslation(project) - file.count }} missing translation(s)">report_problem</i>
      {{ file.languageCode }}
    </div>

    <div class="column small-3 color-secondary text-right">
      {{ file.count }}
    </div>
  </div>
</div>
<button (click)="onOpen(project)" class="cursor-pointer">
  Open
</button>