<div class="locale" [ngClass]="{expanded: locale.expanded}">
  <!-- Key -->
  <div class="row full-width name" (click)="locale.toggle()">
    <div class="column">
      <i class="material-icons">add_box</i>
      <span>{{ locale.key }}</span>
      <span *ngIf="locale.hasMissingTranslations()" class="color-secondary">
        <span class="margin-horizontal">&mdash; Missing:</span>
        <span *ngFor="let missing of locale.getMissingTranslations()"
              mdTooltip="{{ missing.languageName }}"
              class="flag-icon flag-icon-{{ missing.flagClass }} margin-right"></span>
      </span>
    </div>
  </div>

  <!-- Values -->
  <ul *ngIf="locale.expanded">
    <li *ngFor="let translation of locale.getValues()">
      <div class="row align-middle" style="margin: 0">
        <!-- Flag -->
        <div class="column small-1">
          <span class="flag-icon flag-icon-{{ translation.language.flagClass }}"></span>
        </div>

        <!-- Language code -->
        <div class="column small-2 large-1 language" mdTooltip="{{ translation.language.languageName }}">
          {{ translation.language.languageCode }}
        </div>

        <!-- i18n value / input -->
        <div class="column small-9 large-10 translated-string">
          <div *ngIf="translation.editedString == null" class="cursor-pointer" (click)="edit(translation)">
            {{ translation.string }}
          </div>
          <div *ngIf="translation.editedString != null">
            <div class="row">
              <div class="column small-9">
                <input type="text" [(ngModel)]="translation.editedString" autofocus />
              </div>

              <div class="column small-3">
                <button md-raised-button color="primary"
                        (click)="saveEdition(translation)"
                        disabled="{{ translation.editedString == translation.string }}">
                  <span *ngIf="isSavingTranslation">Saving...</span>
                  <span *ngIf="!isSavingTranslation">Save</span>
                </button>
                <button md-raised-button color="secondary"
                        disabled="{{ isSavingTranslation }}"
                        (click)="cancelEdition(translation)">
                  Cancel
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </li>
    <li *ngFor="let missing of locale.getMissingTranslations()">
      <div class="row align-middle" style="margin: 0">
        <!-- Flag -->
        <div class="column small-1">
          <span class="flag-icon flag-icon-{{ missing.flagClass }}"></span>
        </div>

        <!-- Language code -->
        <div class="column small-2 large-1 language" mdTooltip="{{ missing.languageName }}">
          {{ missing.languageCode }}
        </div>

        <!-- i18n value / input -->
        <div class="column small-9 large-10 missing-translation">
          Missing translation
        </div>
      </div>
    </li>
  </ul>
</div>