<div class="locale" [ngClass]="{expanded: locale.expanded}">
  <div class="row full-width name" (click)="locale.toggle()">
    <div class="column">
      <i class="material-icons">add_box</i>
      <span>{{ locale.key }}</span>
    </div>
  </div>
  <ul *ngIf="locale.expanded">
    <li *ngFor="let translation of locale.getValues()">
      <span class="flag-icon {{ flagOf(translation.lang) }}"></span>
      <span class="language" title="{{ languageName(translation.lang) }}">{{ translation.lang }}</span>
      <span class="translated-string">{{ translation.string }}</span>
    </li>
    <li *ngFor="let missing of locale.getMissingTranslations()">
      <span class="flag-icon {{ flagOf(missing) }}"></span>
      <span class="language" title="{{ languageName(missing) }}">{{ missing }}</span>
      <span class="missing-translation">Missing translation</span>
    </li>
  </ul>
</div>