<lh-titlebar></lh-titlebar>

<main *ngIf="projects != undefined">
  <lh-projects-new (click)="openNewProjectDialog(projects)" class="cursor-pointer"></lh-projects-new>
  <lh-projects-card *ngFor="let project of projects"
                    [project]="project"
                    (removedProject)="onRemoveProject($event)">
  </lh-projects-card>
</main>

<main *ngIf="projects == undefined">
  <div class="row align-middle main-full-height">
    <div class="column">
      <lh-loader [message]="'Loading projects...'"></lh-loader>
    </div>
  </div>
</main>