@import 'styles/app.scss';

:host {
  margin: 0 $global-spacing;
  display: flex;
  flex-direction: column;
}

section {
  display: block;
  width: 100%;
}

.cards-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}

.projects-filler {
  flex-grow: 1;
}