@import 'styles/app.scss';

:host {
  height: 520px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  .row {
    flex-direction: row;
    width: 100%;
  }
}

h1 {
  margin: 0;
}

.close-container {
  text-align: center;
  transition: background-color 200ms ease-in-out, color 200ms ease;

  i:hover {
    cursor: pointer;
    background-color: map_get($foundation-palette, secondary);
    border-radius: 50%;
    padding: 5px;
    color: $white;
  }
}

i.label {
  @include offset(6px);
  color: map_get($foundation-palette, secondary);
}

.change-container {
  padding: 5px;
  max-height: 300px;
  cursor: pointer;
  transition: background-color 300ms ease;

  &:hover {
    background-color: $lighter-gray;
  }
}

.change-action {
  display: flex;
  align-items: center;
  height: 25px;
  border-radius: 13px;
  font-size: 13px;
  cursor: pointer;
  color: $white;
  transition: box-shadow 300ms ease-in-out;
  right: 0;
  position: absolute;

  &:hover { box-shadow: 0 0 10px 0 $dark-gray; }
  &.undo { background-color: get-color(secondary);; width: 75px }

  i {
    padding: 5px;
    font-size: 16px;
  }
}

.key-part {
  @include key-part();
}

.after-change, .before-change, .empty-translation {
  font-family: monospace;
  padding: 2px;
}

.before-change {
  border-color: #f1c0c0;
  background-color: #ffdddd;
}

.after-change {
  border-color: #c1e9c1;
  background-color: #dbffdb;
}

.empty-translation {
  color: get-color(secondary);
  font-style: italic;
}

.action-container {
  width: inherit !important;

  button {
    font-size: 130%;
    width: 200px;
  }
}