<div class="row align-middle custom-title" md-dialog-title>
  <div class="column small-8">
    <h1>List of saved changes ({{ totalChanges }})</h1>
  </div>

  <div class="column small-3">
    <md-select placeholder="Branch" style="width: 100%" [(ngModel)]="selectedBranch">
      <md-option *ngFor="let branch of baseBranches()" [value]="branch" (onSelect)="onChangeBranch(branch)">
        {{ branch }}
      </md-option>
    </md-select>
  </div>

  <div class="column small-1 close-container">
    <i class="material-icons close" (click)="onCloseDialog(translationsPreviewDialog)">close</i>
  </div>
</div>

<div class="row" *ngIf="totalChanges > 0" style="height: 410px">
  <div class="column">
    <md-tab-group>
      <md-tab *ngFor="let language of languages">
        <!-- Tab title -->
        <ng-template md-tab-label>
          <span class="flag-icon flag-icon-{{ language.flagClass }} margin-right"></span>
          <span>{{ language.languageName }}</span>
          <span class="color-secondary">(<small>{{ language.languageCode }}</small>)</span>
        </ng-template>

        <!-- Tab content -->
        <div class="margin-top" style="max-height: 330px">
          <div *ngFor="let change of changes[language.languageCode]" class="change-container">
            <div class="row">
              <div class="column" style="display: flex; align-items: center; position: relative">
                <span *ngFor="let part of change.key.split('.'); let partCount = index" style="display: inline-flex">
                  <span class="key-part">{{ part }}</span>
                  <span *ngIf="partCount != change.key.split('.').length - 1" class="bold margin-horizontal-half" style="align-self: center">.</span>
                  <span *ngIf="partCount == change.key.split('.').length - 1" class="bold margin-horizontal-half" style="align-self: center">:</span>
                </span>
                <span *ngIf="isEmpty(change.value.oldString)" class="empty-translation margin-left">&mdash; New translation</span>
                <span *ngIf="isEmpty(change.value.newString)" class="empty-translation margin-left">&mdash; Removed translation</span>
                <span class="change-action undo" (click)="onUndo(change)"><i class="material-icons">undo</i>&nbsp;Undo </span>
              </div>
            </div>
            <div class="row align-middle margin-top-half">
              <div class="column small-2"><strong>Before:</strong></div>
              <div *ngIf="!isEmpty(change.value.oldString)" class="column small-10 before-change">{{ change.value.oldString | highlightDiff: change.value.newString }}</div>
              <div *ngIf="isEmpty(change.value.oldString)"  class="column small-10 empty-translation">Nothing</div>
            </div>
            <div class="row align-middle margin-bottom">
              <div class="column small-2"><strong>After:</strong></div>
              <div *ngIf="!isEmpty(change.value.newString)" class="column small-10 after-change">{{ change.value.newString | highlightDiff: change.value.newString }}</div>
              <div *ngIf="isEmpty(change.value.newString)"  class="column small-10 empty-translation">Nothing</div>
            </div>
          </div>
        </div>
      </md-tab>
    </md-tab-group>
  </div>
</div>

<div class="row" *ngIf="totalChanges > 0">
  <div class="column">
    <md-dialog-actions>
      <button md-raised-button color="primary" (click)="onCommitChanges()" disabled="{{ isCommitting || isCreatingPR }}">
        <i class="octicon octicon-git-commit margin-right-half"></i>
        <span *ngIf="!isCommitting">Commit on Github</span>
        <span *ngIf="isCommitting">Committing...</span>
      </button>
      <button md-raised-button color="primary" (click)="onCreatePR()" disabled="{{ isCommitting || isCreatingPR }}">
        <i class="octicon octicon-git-pull-request margin-right-half"></i>
        <span *ngIf="!isCreatingPR">Create Pull request</span>
        <span *ngIf="isCreatingPR">Creating Pull request...</span>
      </button>
      <button md-raised-button md-dialog-close>Close</button>
    </md-dialog-actions>
  </div>
</div>

<div class="row" *ngIf="totalChanges <= 0">
  <div class="column">
    You don't have pending change on this branch ({{ selectedBranch }}).
  </div>
</div>