.mat-input-container {
  font-family: $mat-font-family !important;
  font-size: 16px !important;
  width: $mat-input-width;
}

.mat-input-placeholder {
  font-size: 18px !important;
}

.mat-input-element {

}