@import 'toolbar/toolbar.scss'; // base theme file

@include md-toolbar-height($banner-height);
@include md-toolbar-theme($app-theme);

md-toolbar {
  min-height: $banner-height !important;
  background: $white;

  md-toolbar-row {
    height: $banner-height;
    font-family: $md-font-family;
  }
}