@import 'styles/app.scss';

:host {
  position: absolute;
  right: 2 * $global-margin;
  top: 21px;
}

button {
  display: flex;
  align-items: center;
  background-color: #F44336;
  color: $white;

  /deep/ .mat-button-wrapper {
    width: 100%;
    display: flex;
    justify-content: center;
  }
}

md-icon {
  transition: transform 500ms ease-in-out;
  display: flex;
  align-items: center;
}