@import 'styles/app.scss';

:host {
  position: absolute;
  right: 0;
  top: 21px;
}

button {
  display: flex;
  align-items: center;
  background-color: #F44336;
  color: $white;
  transition: transform 500ms ease-in-out;

  /deep/ .md-button-wrapper {
    width: 100%;
    display: flex;
    justify-content: center;
  }

  &.rotate-45 {
    transform: rotate(45deg);
  }

  &.rotate-180 {
    transform: rotate(180deg);
  }

  &.rotate-225 {
    transform: rotate(225deg);
  }
}

md-icon {
  display: flex;
  align-items: center;
}