@import 'styles/app.scss';

md-toolbar {
  /deep/ md-toolbar-row {
    font-family: $header-font-family;
    font-weight: 300;
    font-size: 28px;
  }
}

button {
  margin-right: $global-spacing;

  i.app-toolbar-menu {
    color: $white;
  }
}

