@import 'styles/app.scss';

$font-size: rem-calc(30);

:host {
  display: flex;
  width: $project-card-width;
  height: $project-card-height;
  align-items: flex-end;
  flex-direction: column-reverse;
  font-size: $font-size;
  background-color: $blue2;
  color: $white;
  border-radius: $global-radius;
  font-family: $header-font-family;
  padding: $global-spacing;
  letter-spacing: 1px;

  div {
    line-height: $font-size;
  }
}