@import 'styles/app.scss';

$font-size: rem-calc(30);

:host {
  @include card($project-card-width, $project-card-height);

  align-items: flex-end;
  flex-direction: column-reverse;
  font-size: $font-size;
  background-color: $blue2;
  color: $white;
  font-family: $header-font-family;
  padding: $global-spacing;
  letter-spacing: 1px;

  div {
    line-height: $font-size;
  }
}