<md-toolbar>
  <div class="titlebar-content" *ngIf="isProjectsList">Projects</div>
  <div class="titlebar-content" *ngIf="isTranlationsList && project != undefined">
    <div class="current-project">
      <span (click)="onClickProjects()" class="cursor-pointer underline">Projects</span>
      <span><i class="material-icons keyboard_arrow_right">keyboard_arrow_right</i></span>
      <span class="repo-container">
        <div class="repo-name">{{ project.name }}</div>
        <div class="branch-switcher">
          <div class="branch-name"><span class="octicon octicon-git-branch"></span>&nbsp;{{ project.lastActiveBranch }}</div>
          <div class="switch-branch-link"><a (click)="onOpenBranchSwitcher()">change branch</a></div>
        </div>
      </span>
    </div>
    
    <div class="searchbar">
      <i class="material-icons search">search</i>
      <input type="search" placeholder="Rechercher">
    </div>

    <div class="actions">
      <button md-raised-button color="secondary" (click)="onUnfold()">
        <i class="octicon octicon-unfold"></i>
      </button>

      <button md-raised-button color="secondary" (click)="onFold()">
        <i class="octicon octicon-fold"></i>
      </button>

      <button md-raised-button color="secondary" (click)="onExport()">
        <i class="octicon octicon-link-external"></i>
      </button>

      <button md-raised-button color="primary" class="padding-horizontal" (click)="onCommit()" [attr.disabled]="project.pendingChanges.length <= 0">
        <span>I'm done!</span>
        <span class="has-diff" *ngIf="project.pendingChanges.length > 0">{{ project.pendingChanges.length }}</span>
      </button>
  </div>
  </div>
</md-toolbar>