@import 'styles/app.scss';

$separator-height: rem-calc(40);

:host {
  margin: $banner-height - $separator-height / 2 0;
  height: $separator-height;
  min-height: $separator-height;
  line-height: $separator-height;
  display: flex;
  align-items: center;
}

/* Contains arraw, line, avatar and name */
.container {
  width: 100%;
}

/* Only contains the avatar and the name */
.identity {
  background-color: $body-background;
  margin-left: $global-spacing*2;
  padding-right: $global-spacing;
}

/* Avatar */
img, .avatar-fake {
  @include square($separator-height);

  margin: 0 $global-spacing;
  border-radius: 50%;
}

/* Full width line (go under the avatar) */
hr {
  @include offset(- $separator-height / 2);

  z-index: -1;
  margin: 0;
}

/* Down/right arrow */
i.keyboard_arrow_down {
  @include offset(9px);
  background-color: $body-background;
}

/* When there is no avatar */
.avatar-placeholder {
  background-color: $body-background;

  .avatar-fake {
    border: 1px solid $border-color;
    background-color: $purple;
  }

  i {
  //  @include offset(11px);

    display: flex;
    justify-content: center;
    color: $white;
  }
}

.organization-tag {
  color: $medium-gray;
  font-size: $small-font-size;
}