<div class="container">
  <i *ngIf="group.expanded" class="material-icons expand_more">expand_more</i>
  <i *ngIf="!group.expanded" class="material-icons chevron_right">chevron_right</i>

  <span class="identity">
    <!-- Avatar -->
    <span *ngIf="group.user.avatar_url">
      <img src="{{ group.user.avatar_url }}" alt="{{ group.user.login }}" />
    </span>
    <span *ngIf="!group.user.avatar_url" class="avatar-placeholder">
      <span class="avatar-fake">
        <i class="octicon octicon-octoface"></i>
      </span>
    </span>

    <!-- Name -->
    <span *ngIf="group.user.is_organization">{{ group.user.login }}&nbsp;<span class="organization-tag">|&nbsp;organization</span></span>
    <span *ngIf="!group.user.is_organization">{{ group.user.login }} ({{ group.user.description }})</span>
    <a href="{{ group.user.url }}" target="_blank"><i class="material-icons open_in_new">open_in_new</i></a>
  </span>
  <hr />
</div>
