@import 'styles/app.scss';

:host:first-child .expanded {
  margin-top: 0;
}

.locale {
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 0 0 5px $border-color;
  border-radius: $global-radius;
  background-color: $white;
  transition: margin 150ms ease-in-out;
  margin-right: 16px;  // align the right side of the list of locales with the I'm done button, and allow placing FAB

  &.expanded {
    margin: $global-spacing $global-spacing*-1/2 $global-spacing $global-spacing*-1;
    box-shadow: 0 0 10px $medium-gray;
  }
}

.name {
  display: flex;
  flex-direction: row;
  align-items: center;
  cursor: pointer;
  height: $translation-height;
  user-select: none;

  i {
    @include offset(2px);

    font-size: $small-font-size;
    color: get-color(secondary);
    padding-right: 15px;
  }
}

ul {
  width: 100%;
  border-top: 1px solid $border-color;
  margin: 0;
  padding: $global-spacing/2 0;

  li {
    list-style: none;
    line-height: $translation-height;

    .language {
      display: inline-flex;
      color: map_get($foundation-palette, secondary);
    }

    .translated-string {
      input {
        margin-bottom: 0;
        border: 2px solid $blue2;
      }
    }

    .missing-translation {
      text-transform: uppercase;
      font-style: italic;
      color: map_get($foundation-palette, secondary);
    }
  }
}