@mixin banner($bg: $body-background, $color: $body-font-color, $height: $banner-height) {
  height: $height;
  min-height: $height;
  line-height: $height;
  background-color: $bg;
  color: $color;
};

@mixin offset($size, $origin: top) {
  position: relative;
  #{$origin}: $size;
}

@mixin hover-transition($property, $value, $duration: 150ms, $transition: ease-in-out) {
  transition: $property $duration $transition;

  &:hover {
    #{$property}: $value;
  }
}

@mixin square($size) {
  display: inline-block;
  width: $size;
  height: $size;
}

@mixin card($width, $height) {
  display: inline-flex;
  width: $width;
  height: $height;
  //margin: $banner-height - $separator-height / 2;
  margin: $global-spacing;
  background-color: $white;
  border-radius: $global-radius;
}

@mixin locale() {
  box-shadow: 0 0 5px $border-color;
  border-radius: $global-radius;
  background-color: $white;
  transition: margin 150ms ease-in-out;

  &.expanded {
    margin: $global-spacing $global-spacing*-1/2 $global-spacing $global-spacing*-1;
    box-shadow: 0 0 10px $medium-gray;
  }

  .name {
    display: flex;
    flex-direction: row;
    align-items: center;
    cursor: pointer;
    height: $translation-height;
    user-select: none;

    i {
      @include offset(2px);

      font-size: $small-font-size;
      color: get-color(secondary);
      padding-right: 15px;
    }
  }

  ul {
    width: 100%;
    border-top: 1px solid $border-color;
    margin: 0;

    li {
      list-style: none;
      line-height: $translation-height;

      .language {
        display: inline-flex;
        color: map_get($foundation-palette, secondary);
      }

      .translated-string {
        input {
          margin-bottom: 0;
          border: 2px solid $blue2;
        }
      }

      .missing-translation {
        text-transform: uppercase;
        font-style: italic;
        color: map_get($foundation-palette, secondary);
      }
    }
  }
}

@mixin key-part() {
  background-color: $blue2;
  color: white;
  padding: 7px $global-spacing/2;
  border-radius: $global-radius;
}